/*.b-container{
    width:200px;
    height:150px;
    background-color: #ccc;
    margin:0px auto;
    padding:10px;
    font-size:30px;
    color: #fff;
}*/
#b-popup{
    display: none;
    left:0;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    z-index:3;
}
#b-popup .b-popup-content{
    background-color: #bfc7b7;
    margin:40px auto 0px auto;
    width:480px;
    height: 580px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;

}
.b-popup-content img {
    float:right;
}

.not-aviable {
    font-size: 30px;
}
#myform{
    text-align: center;
}
.myform-id{
    display: none;
}
.myform-title {
    text-align: center;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 75, 6);
    font-size: 24px;
    font-weight: bolder;
}
#myform label {
    margin-top: 6px;
    float: left;
    margin-left: 30px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 75, 6);
}

#myform input {
    padding-left:5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    background-color: #bfc7b7;
    border: 2px solid darkgreen;
    width: 250px;
    height: 30px;
    margin-bottom: 15px;
    margin-right:30px;
}



#myform img {
    text-align: right; 
    cursor: pointer;

}
#myform div {
    text-align: right;
}


#myform button{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color:#a0ac93;
    font-size: 24px;
    background-color: #004b06;
    width:420px;
    height: 50px;
    margin-top:46px;
}

#myform  #info{
    margin-top:13px;
    width:420px;
    height: 115px;
}

input {outline: none;}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #bfc7b7 !important; /* Цвет фона */
    -webkit-text-fill-color: black !important; /* цвет текста */
    color: black !important; /* цвет текста */
}