#b-popup{display:none;left:0;width:100%;min-height:100%;background-color:rgba(0,0,0,0.5);overflow:hidden;position:fixed;top:0;z-index:3}
#b-popup .b-popup-content{background-color:#bfc7b7;margin:40px auto 0 auto;width:480px;height:580px;padding:10px;border-radius:5px;box-shadow:0 0 10px #000}
.b-popup-content img{float:right}.not-aviable{font-size:30px}