/*@font-face {
  font-family: Astoria Deco;
  src: url(../public/fonts/Astoria Deco.ttf);
}*/
@font-face {
	font-family: 'Astoria Deco';
	src: url('fonts/Astoria Deco.eot');
	src: local('☺'), url('fonts/Astoria Deco.woff') format('woff'), url('fonts/Astoria Deco.ttf') format('truetype'), url('fonts/Astoria Deco.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


.CatalogApp {
    margin:160px 85px 0 90px;
    outline: 0px solid red;
}
.column-left {
    width: 300px;
    display:inline-block;
    outline: 0px solid yellow;
    position: relative;
    right: 50px;
    top: -20px;

}
.column-right {
    width: 300px;
    outline: 0px solid green;
    display:inline-block;
    position: relative;
    left:25px;
    top: -20px;
}
.CatalogApp-item {
    margin-left:15px;
    margin-top:25px;
}
.TitleImage {
    margin-top: 135px;
}
.TitleImage img {
     margin-bottom: 23px;
}
.ProductPreview {
    border:4px solid #1f5c13;
    display: inline-table;
    margin:0 6px 30px 43px;
    padding:8px 8px 0 8px;
}
.NameProductPreview {
    display: table;
    width:176px;
    height: 70px;
    margin-top:10px;
    background-image: url(/image/fon-cart.png);
    background-repeat: no-repeat;
}
.NameProductPreview:hover{
    cursor: pointer;
}
.TextNameProductPreview{
    position: relative;
    top: -2px;
    display: table-cell;
    vertical-align: middle;
    font-size:34px;
    font-weight: bolder;
    font-family: Astoria Deco;
    text-align: center;
    color:#1f5c13;;
    line-height: 0.8;
    letter-spacing:0.5px;
}
.ButtonPreview {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.ProductPreview a {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size:15px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color:green;
    cursor: pointer;
}
.ProductImages {
    outline: 0px solid green;
    background-image: url(/image/catalog/fon-product.png);
    margin:12px 20px 0 20px;
}
.NameProduct {
    font-family: Astoria Deco;
    font-size: 66px;
    margin-top:100px;
    text-align: center;
    color: #004b06;
    font-weight: bold;
}
.ProductText {
    text-align: center;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 21px;
    font-weight: bold;
    color: #004b06;
    margin-top:50px
}
.Download {
    text-align: center;
    margin-top: 10px;
}
.Download img {
    cursor: pointer;
    margin-bottom: 10px;
}
.pages {
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -15px;
    font-family: "Cambria Math";
    font-size: 20px;
    color: #004b06;
}
.pages li {
    display: inline;
    margin-left: 15px;
}
.pages li a {
    text-decoration: none;
    font-family: "Cambria Math";
    font-size: 17px;
    font-weight: bold;
    color: #004b06;
}
.pages li a:hover {
    color:black;
}


/*форма*/

.button-popup {
    border:2px solid black;
}